<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.camerongallarno.github</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>169356E6-F967-4EAC-88FF-79BEA20DF18A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC6CD06D-9E75-4AA2-99B4-A43B610A6819</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BF991FE-2608-44FC-BB6D-B4BA3767C7E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCD778B9-82DA-4829-B1B6-0F488B15B2F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCE63113-88A1-4E25-B915-E90F7311DF71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCD778B9-82DA-4829-B1B6-0F488B15B2F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC6CD06D-9E75-4AA2-99B4-A43B610A6819</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F323C4BB-B1E4-44C4-9694-440487BB7252</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F323C4BB-B1E4-44C4-9694-440487BB7252</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCE63113-88A1-4E25-B915-E90F7311DF71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A4618DA1-F8A5-493F-B570-676A8ECA69A2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9BF991FE-2608-44FC-BB6D-B4BA3767C7E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Cameron G</string>
	<key>description</key>
	<string>Using a project local path, get the github url (and open). Optionally with a line number suffixed with :LN</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open file in github</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/Dorsata/acog-prenatal-record/blob/prerelease/{var:file1}#L{var:file2}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CCE63113-88A1-4E25-B915-E90F7311DF71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ghlink</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Get link to a apr file in Github</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>169356E6-F967-4EAC-88FF-79BEA20DF18A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FCD778B9-82DA-4829-B1B6-0F488B15B2F6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>:</string>
						<key>outputlabel</key>
						<string>Go to line</string>
						<key>uid</key>
						<string>A4618DA1-F8A5-493F-B570-676A8ECA69A2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Go to file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F323C4BB-B1E4-44C4-9694-440487BB7252</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>:</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>DC6CD06D-9E75-4AA2-99B4-A43B610A6819</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/Dorsata/acog-prenatal-record/blob/prerelease/{var:file1}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9BF991FE-2608-44FC-BB6D-B4BA3767C7E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Quickly navigate to the remote file in github, using a local path.</string>
	<key>uidata</key>
	<dict>
		<key>169356E6-F967-4EAC-88FF-79BEA20DF18A</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. Add a keyword object by right-clicking the canvas and choosing Inputs &gt; Keyword. Set the keyword and title to show it in Alfred's results.</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>9BF991FE-2608-44FC-BB6D-B4BA3767C7E8</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>CCE63113-88A1-4E25-B915-E90F7311DF71</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>DC6CD06D-9E75-4AA2-99B4-A43B610A6819</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>F323C4BB-B1E4-44C4-9694-440487BB7252</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>FCD778B9-82DA-4829-B1B6-0F488B15B2F6</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
