<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.camerongallarno.jira</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>169356E6-F967-4EAC-88FF-79BEA20DF18A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FD7D2D3-AFB0-4CF5-BE61-1FCB65E874C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5FD7D2D3-AFB0-4CF5-BE61-1FCB65E874C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BF991FE-2608-44FC-BB6D-B4BA3767C7E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9B510EBB-AD0C-44E3-914A-8D6BE39CB5A9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CCE63113-88A1-4E25-B915-E90F7311DF71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>59DE0671-667F-471F-A534-1EB2F6D1D90B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>78552F04-1EBB-4A19-8E1D-F5B1F07BC47C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Cameron G</string>
	<key>description</key>
	<string>Quickly navigate to different parts of jira</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open issue in Jira</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://dorsata.atlassian.net/secure/RapidBoard.jspa?rapidView=2&amp;quickFilter=3</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9BF991FE-2608-44FC-BB6D-B4BA3767C7E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://dorsata.atlassian.net/browse/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CCE63113-88A1-4E25-B915-E90F7311DF71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>subtext</key>
				<string>Leave blank to view issues assinged to you</string>
				<key>text</key>
				<string>Open or search for an issue in Jira</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>169356E6-F967-4EAC-88FF-79BEA20DF18A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>View my Issues</string>
						<key>uid</key>
						<string>9B510EBB-AD0C-44E3-914A-8D6BE39CB5A9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>DOR-[\d]+</string>
						<key>outputlabel</key>
						<string>Open Issue</string>
						<key>uid</key>
						<string>59DE0671-667F-471F-A534-1EB2F6D1D90B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Search Issues</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5FD7D2D3-AFB0-4CF5-BE61-1FCB65E874C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>https://dorsata.atlassian.net/secure/RapidBoard.jspa?rapidView=2&amp;view=planning.nodetail&amp;search={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>78552F04-1EBB-4A19-8E1D-F5B1F07BC47C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Quickly search jira for any issues, or open one directicly by providing an id.

Open with no argument to view your issues in the active sprint</string>
	<key>uidata</key>
	<dict>
		<key>169356E6-F967-4EAC-88FF-79BEA20DF18A</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. Add a keyword object by right-clicking the canvas and choosing Inputs &gt; Keyword. Set the keyword and title to show it in Alfred's results.</string>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>5FD7D2D3-AFB0-4CF5-BE61-1FCB65E874C7</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>78552F04-1EBB-4A19-8E1D-F5B1F07BC47C</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>9BF991FE-2608-44FC-BB6D-B4BA3767C7E8</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>CCE63113-88A1-4E25-B915-E90F7311DF71</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
